.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin: auto;
    position: relative;
}
.image img {
    width: 100%;
    height: 70vh;
}
.caption {
    padding: 10px 100px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 140px;
    font-size: 2rem;
}
.image {
    display: none;
}
.dots {
    margin-top: 2%;
    text-align: center;
}
.dot {
    width: 15px;
    height: 15px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}
.active {
    background-color: #717171;
}
#prev, #next {
    position: absolute;
    top: 43%;
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
#prev {
    left: 0;
}
#next {
    right: 0;
}
#next:hover,
#prev:hover {
    background: rgba(0, 0, 0, 0.5);
}